<div class="max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="max-w-xl">
        <h2 class="font-inter text-lg font-medium">
            Daftar lagu yang tersedia
        </h2>
    </div>

    <ul id="listLyrics" class="flex flex-col gap-y-3 w-full py-8"></ul>
</div>