---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kamus Bahasa Moy">
    <main>
        <div
            class="max-w-4xl px-4 pt-10 pb-10 sm:px-6 lg:px-8 lg:pb-14 mx-auto"
        >
            <div class="space-y-5 lg:space-y-8 mb-16">
                <div class="space-y-3">
                    <h3 class="text-xl font-semibold">
                        Tentang Project Ini
                    </h3>

                    <p class="text-gray-800">
                        Selamat datang di halaman About Kamus Bahasa Daerah Moy. Kami merasa sangat senang dan
                        bersemangat bahwa Anda berminat untuk mengetahui lebih
                        banyak tentang proyek ini.
                    </p>
                    <p class="text-gray-800">
                        Proyek ini adalah sebuah inisiatif sukarela yang
                        berdedikasi untuk pelestarian dan pengembangan bahasa
                        daerah Moy. Kami yakin bahwa setiap bahasa merupakan
                        cerminan dari suatu budaya, sebuah warisan yang layak
                        untuk dijaga dan dikembangkan. Bahasa Moy, sebagai
                        bagian integral dari warisan budaya, layak mendapatkan
                        perhatian dan pengakuan yang sama.
                    </p>
                    <p class="text-gray-800">
                        Bagi kami, bahasa daerah Moy tidak hanya sekedar
                        kumpulan kata-kata dan tata bahasa, melainkan jembatan
                        untuk memahami dan menjalin hubungan yang lebih dekat
                        dengan sejarah, budaya, dan identitas masyarakat Moy.
                    </p>
                    <p class="text-gray-800">
                        Sebagai sebuah proyek open-source, kami membuka pintu
                        lebar-lebar bagi siapa saja yang ingin berkontribusi,
                        baik itu developer, peneliti, edukator, atau bahkan
                        pengguna umum yang peduli terhadap pelestarian bahasa
                        Moy. Kami percaya bahwa melalui kolaborasi dan
                        partisipasi masyarakat, kami dapat menciptakan dampak
                        yang lebih besar dan membantu bahasa Moy untuk terus
                        hidup dan berkembang.
                    </p>
                    <p class="text-gray-800">
                        Meski proyek ini berjalan secara non-profit, tetapi
                        semangat dan dedikasi yang kami miliki tidak kalah dari
                        proyek berbayar lainnya. Kami berkomitmen untuk
                        memastikan bahwa proyek ini berjalan dengan
                        sebaik-baiknya, menciptakan alat dan sumber daya yang
                        berharga untuk mendukung pelestarian dan pengembangan
                        bahasa daerah Moy.
                    </p>
                    <p class="text-gray-800">
                        Dengan harapan, melalui proyek ini, kami dapat
                        memberikan kontribusi yang berarti untuk pelestarian
                        bahasa daerah Moy dan menginspirasi inisiatif serupa
                        untuk bahasa-bahasa daerah lainnya.
                    </p>
                    <p class="text-gray-800">
                        Terima kasih telah mengunjungi dan berminat pada proyek
                        kami. Mari bergabung dan berkontribusi dalam proyek ini,
                        karena setiap kontribusi, tidak peduli seberapa kecil,
                        dapat membawa perubahan besar bagi pelestarian bahasa
                        Moy.
                    </p>
                </div>

                <!-- <ul
                    class="list-disc list-outside space-y-5 pl-5 text-lg text-gray-800 dark:text-gray-200"
                >
                    <li class="pl-2">
                        Preline allows us to collaborate in real time and is a
                        really great way for leadership on the team to stay
                        up-to-date with what everybody is working on," <a
                            class="text-blue-600 decoration-2 hover:underline font-medium"
                            href="#">said</a
                        > Stewart Scott-Curran, Intercom's Director of Brand Design.
                    </li>
                    <li class="pl-2">
                        Preline opened a new way of sharing. It's a persistent
                        way for everyone to see and absorb each other's work,"
                        said David Scott, Creative Director at <a
                            class="text-blue-600 decoration-2 hover:underline font-medium"
                            href="#">Eventbrite</a
                        >.
                    </li>
                </ul> -->
            </div>
        </div>
    </main>
</Layout>
