---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontribusi • Kastau Terjemahan">
    <main>
        <div class="max-w-4xl px-4 pt-10 sm:px-6 lg:px-8 mx-auto">
            <div class="space-y-5 lg:space-y-8 mb-16">
                <div class="space-y-3 font-inter">
                    <h3 class="text-2xl font-semibold">Kontribusi</h3>

                    <p class="text-gray-800">
                        Selamat datang di halaman kontribusi Kamus Bahasa Mooi
                        dan Bahasa Sentani di Kastau Terjemahan! Kami sangat
                        menghargai kesediaan Anda untuk berpartisipasi dalam
                        pengembangan kamus ini. Setiap kontribusi, baik yang
                        kecil maupun besar, sangat berarti bagi kami dalam
                        mengembangkan dan memperkaya kosa kata dalam Bahasa Mooi
                        dan Bahasa Sentani secara keseluruhan.
                    </p>
                </div>
                <div class="space-y-3 font-inter">
                    <h3 class="text-lg lg:text-xl font-semibold">
                        Bagaimana Cara Berkontribusi?
                    </h3>

                    <ol
                        class="space-y-4 text-gray-800 list-decimal list-inside"
                    >
                        <li>
                            <span class="font-semibold text-gray-700">
                                Mengusulkan Kata Baru atau Koreksi:
                            </span>
                            <ul
                                class="pl-5 mt-2 space-y-1 list-disc list-inside"
                            >
                                <li>
                                    Jika Anda mengetahui kata atau frasa dalam
                                    Bahasa Mooi atau Bahasa Sentani yang belum
                                    ada di kamus atau menemukan kesalahan,
                                    silakan ajukan melalui <a
                                        href="https://forms.gle/91pqmhxf4EghWCuy9"
                                        target="_blank"
                                        class="underline"
                                        >Formulir Pengajuan Kata</a
                                    >.
                                </li>
                                <li>
                                    Pastikan untuk menyertakan contoh penggunaan
                                    dan terjemahannya.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700">
                                Pengembangan Fitur & Teknikal:</span
                            >
                            <ul
                                class="pl-5 mt-2 space-y-1 list-disc list-inside"
                            >
                                <li>
                                    Bagi Anda yang memiliki kemampuan teknik dan
                                    ingin membantu pengembangan fitur atau
                                    perbaikan bug, silakan kunjungi repositori
                                    GitHub kami <a
                                        href="https://github.com/antroy-tech/kastau-terjemahan"
                                        target="_blank"
                                        class="underline">di sini</a
                                    >.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
                <div class="space-y-3 font-inter">
                    <h3 class="text-lg lg:text-xl font-semibold">
                        Aturan & Pedoman
                    </h3>

                    <ol
                        class="space-y-4 text-gray-800 list-decimal list-inside"
                    >
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Hormati Keragaman:
                            </span> Bahasa Mooi dan Bahasa Sentani mencerminkan
                            kekayaan budaya. Pastikan kontribusi Anda
                            menghormati keragaman dan tidak menyinggung kelompok
                            tertentu.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Tetap Objektif:
                            </span> Hindari menyertakan opini pribadi atau
                            interpretasi dalam kontribusi Anda. Fokus pada fakta
                            dan informasi yang benar.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Kualitas:
                            </span> Usahakan untuk memberikan kontribusi dengan
                            kualitas terbaik, baik itu penulisan, kode, desain,
                            atau lainnya.
                        </li>
                        <li>
                            <span class="font-semibold text-gray-700"
                                >Komunikasi:
                            </span> Jika Anda memiliki pertanyaan atau
                            membutuhkan klarifikasi, jangan ragu untuk
                            menghubungi kami melalui akun instagram <a
                                href="https://instagram.com/antroy.tech"
                                target="_blank"
                                class="underline">@antroy.tech</a
                            > atau melalui email di <a
                                href="mailto:theisandatu@gmail.com"
                                target="_blank"
                                class="underline">theisandatu@gmail.com</a
                            >.
                        </li>
                    </ol>
                </div>
                <div class="space-y-3 font-inter">
                    <p class="text-gray-800">
                        Terima kasih atas kontribusi dan perhatian Anda terhadap
                        proyek kami. Bergabunglah dengan kami dalam upaya
                        pelestarian dan pengembangan Bahasa Mooi dan Bahasa
                        Sentani di Kastau Terjemahan, karena setiap kontribusi
                        Anda, sekecil apapun, akan membawa perubahan besar bagi
                        pelestarian bahasa daerah di Papua.
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
