---
import Layout from "../layouts/Layout.astro";
import CardTranslator from "../components/CardTranslator.astro";
import Modals from "../components/Modals.astro";
---

<Layout title="Kamus Bahasa Mooi">
  <main>
    <section
      class="before:content-[''] before:bg-gray-50 before:h-24 before:w-full before:absolute before:border-b before:border-gray-200 before:z-0 z-10"
    >
      <div class="max-w-screen-xl mx-auto px-2 lg:px-36">
        <div class="flex flex-row">
          <div class="py-14 top-32 h z-10 w-full">
            <CardTranslator />
          </div>
        </div>
        <Modals/>
      </div>
    </section>
  </main>
</Layout>
