---
import Layout from "../layouts/Layout.astro";
import VocabularyList from "../components/Vocabulary/VocabularyList.astro";
import VocabularyModal from "../components/Vocabulary/VocabularyModal.astro";
import { fetchFilteredData } from "../lib/words";
import Alphabet from "../components/Vocabulary/Alphabet.astro";

const data = await fetchFilteredData("A");
---

<Layout title="Kosa kata • Kamus Bahasa Moy">
  <main>
    <section
      class="z-10 before:absolute before:z-0 before:h-24 before:w-full before:border-b before:border-gray-200 before:bg-gray-50 before:content-['']"
    >
      <div class="mx-auto max-w-screen-xl px-2 lg:px-36">
        <div class="flex flex-row">
          <div class="top-32 z-10 w-full py-14">
            <div
              class="grid grid-cols-1 gap-4 rounded border bg-white p-4 lg:grid-cols-[120px_1fr] lg:gap-8"
            >
              <div class="h-auto lg:border-r">
                <Alphabet/>
              </div>
              <div class="h-auto">
                <VocabularyList items={data} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <VocabularyModal items={data} />
  </main>
</Layout>