<div class="flex justify-between bg-white rounded-t-xl">
  <div
    class="flex-1 w-64 items-end pt-3 px-8 text-center border-t shadow-sm border-l rounded-tl-xl"
  >
    <h1
      id="source"
      class="pt-1 text-base font-semibold text-gray-600 capitalize"
    >
      mooi
    </h1>
  </div>
  <div class="flex-none border-t py-1.5">
    <div class="flex items-center justify-center">
      <button
        id="switch-button"
        class="hover:bg-gray-100 text-gray-500 pl-2.5 rounded-full w-10 h-10 mt-1 transition-colors duration-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="flex-1 w-32 items-center pt-3 px-8 text-center border-t shadow-sm border-r rounded-tr-xl"
  >
    <h1
      id="target"
      class="pt-1 text-base font-semibold text-gray-600 capitalize"
    >
      indonesia
    </h1>
  </div>
</div>
<div class="flex flex-col sm:flex-row">
  <div class="w-full sm:mb-4 border-t border-b border-l">
    <div class="px-6 md:px-8 py-4 bg-white">
      <textarea
        id="source-text"
        rows="6"
        class="block w-full px-0 text-base text-gray-800 bg-white border-0 focus:ring-0"
        placeholder="Masukan kata..."
        required></textarea>
    </div>
  </div>
  <div class="w-full mb-4 border border-t-0 sm:border-t">
    <div id="translations" class="px-6 md:px-8 py-4 bg-white hidden">
      <textarea
        id="target-text"
        rows="6"
        class="block w-full px-0 text-base text-gray-800 bg-white capitalize border-0 focus:ring-0"
        placeholder="Terjemahan"
        readonly></textarea>
    </div>
  </div>
</div>

<div class="text-start md:text-end px-2 mb-4">
  <a
    data-modal-target="feedback-modal"
    data-modal-toggle="feedback-modal"
    class="text-gray-500 text-sm underline cursor-pointer"
  >
    Berikan saran
  </a>
</div>

<div class="max-w-screen-xl mx-auto px-2 md:px-0">
  <div class="flex flex-col sm:flex-row gap-2">
    <div id="related-words-title" class="w-full p-4 md:p-6 border rounded hidden">
      <div class="md:mx-4">
        <h2 class="text-lg font-normal text-gray-900">Kata-kata terkait</h2>

        <ul id="results" class="flex flex-col divide-y divide-gray-200"></ul>
      </div>
    </div>
    <div id="example-usage-title" class="w-full my-0 p-6 border rounded hidden">
      <div class="md:mx-4">
        <h2 class="text-lg font-normal text-gray-900">
          Contoh penggunaan
        </h2>

        <ul id="examples" class="flex flex-col divide-y divide-gray-200"></ul>
      </div>
    </div>
  </div>
</div>

<script src="../lib/translator.ts"></script>
<script src="../lib/words.ts"></script>
