<footer class="bg-white sticky top-[100vh]">
    <div class="mx-auto max-w-screen-lg py-8">
        <hr class="my-6 border-gray-200" />

        <div
            class="flex flex-col items-center sm:flex-row sm:justify-between"
        >
            <p
                class="mb-6 font-inter text-center text-gray-500 sm:mb-0 md:text-start lg:inline-flex"
            >
                © 2023 • <a
                    href="https://antroytech.my.id"
                    target="_blank"
                    class="px-1.5 hover:underline">Antroy Tech</a
                >
            </p>
            <p
                class="mb-6 font-inter text-center text-gray-500 sm:mb-0 md:text-start lg:inline-flex"
            >
                Build with 💙 by <a
                    href="https://antheiz.my.id"
                    target="_blank"
                    class="px-1.5 hover:underline">Theis Andatu</a
                >
            </p>
        </div>
    </div>
</footer>
