<nav
  x-data="{ isOpen: false }"
  class="relative bg-white border-b border-gray-200"
>
  <div
    class="max-w-screen-lg py-4 mx-auto px-6 md:px-0 md:flex md:justify-between"
  >
    <div class="flex items-center justify-between md:justify-normal">
      <a href="/" class="text-base font-inter font-medium text-center capitalize">
        Kamus Bahasa Mooi
      </a>

      <!-- Mobile menu button -->
      <div class="flex md:hidden">
        <button
          x-cloak
          @click="isOpen = !isOpen"
          type="button"
          class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
          aria-label="toggle menu"
        >
          <svg
            x-show="!isOpen"
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 8h16M4 16h16"></path>
          </svg>

          <svg
            x-show="isOpen"
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div
      x-cloak
      :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
      class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center"
    >
      <div class="flex flex-col md:flex-row gap-x-6">
        <a
          class="my-2 text-gray-700 font-inter transition-colors duration-300 transform hover:text-blue-500 md:my-0"
          href="#">Abjad</a
        >
        <a
          class="my-2 text-gray-700 font-inter transition-colors duration-300 transform hover:text-blue-500 md:my-0"
          href="/about">Tentang</a
        >
      </div>
    </div>
  </div>
</nav>