---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Navbar/>
    <slot />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"
    ></script>
  </body>
</html>
